<!--  signup page -->

<h1 class="title">Create an Account</h1>
  <% if @errors %>
    <% @errors.full_messages.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

<form action="/users/new" method="POST">
  <input type="text" name="user[name]" placeholder="Your Name"/>
  <input type="text" name="user[email]" placeholder="Email"/>
  <input type="password" name="user[password]" placeholder="Password"/>
  <input type="submit" value="Sign Up">
</form>
