<div id="answer<%=@answer_number%>">

  <input type="text" name="answer_<%="#{@answer_number}"%>" placeholder="type your answer">

  <button class="new_answer" name="new_answer">Add New Answer</button>

</div>
