<!-- lets user create a new survey or edit an existing survey, with ability to give title, add questions, and add answers to the questions -->


<div class="container">

  <div class="question">
  <%= erb :"surveys/question" %>
  </div>
  <button class="new_question" name="new_question">Add New Question</button>

</div>
