<!-- lets user create a new survey or edit an existing survey, with ability to give title, add questions, and add answers to the questions -->

<form class="question">
  <h2><input type="text" name="question_<>" placeholder="type your question"></h2>
  <input type="text" name="answer" placeholder="type your answer">

</form>

