<!-- login page, link to sign up -->

<form action="/login" method="POST">
  <input class="login" id="email" type="text" name="email" placeholder="Enter Email"/>
  <input class="login" id="password" type="password" name="password" placeholder="Enter Password"/>
  <input class="submit_form" type="submit" value="Login">
</form>
 <button onclick="location.href='/users/new'">Signup</button>
