<!-- login page, link to sign up -->

<form action="/login" method="POST">
  <input class="login" id="username" type="text" name="username" placeholder="Enter Username"/>
  <input class="login" id="password" type="password" name="password" placeholder="Enter Password"/>
  <input class="submit_form" type="submit" value="Login">
  <button onclick="location.href='/signup'">Signup</button>
</form>
