<!-- login page, link to sign up -->

<form action="/login" method="POST">
  <input class="login" type="text" name="email" placeholder="Enter Email">
  <input class="login" type="password" name="password" placeholder="Enter Password">
  <input class="submit_form" type="submit" value="Login">
  <button onclick="location.href='/user/new'">Signup</button>
</form>
