
<!-- login page, link to sign up -->
<h1>SURVEY GORILLA</h1>
<!-- <h2>"Take one or leave one"</h2> -->
<h2>RESPOND TO SURVEYS OR MAKE YOUR OWN</h2>

<form action="/login" method="POST">
  <input class="login" id="email" type="text" name="email" placeholder="Email"/>
  <input class="login" id="password" type="password" name="password" placeholder="Password"/>
  <input class="submit_form" type="submit" value="Login">
</form>
 <!-- <button onclick="location.href='/users/new'">Signup</button> -->
 <h3><a href='/users/new'>Create an Account</a></h3>
