<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <% if session[:user_id] %>
    <link rel="stylesheet" href="/css/application.css">
  <% else %>
    <link rel="stylesheet" href="/css/login.css">
  <% end %>



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic|Oswald' rel='stylesheet' type='text/css'>

  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <% if session[:user_id] %>
    <header>
      <div id="title">
        <img src='/imgs/gorilla.jpg'>
        <h1>SURVEY GORILLA</h1>
      </div>
      <nav>
        <a href='/users'>MY SURVEYS</a>
        <a href='/surveys/name'>CREATE SURVEY</a>
        <a href='/surveys/all'>ALL SURVEYS</a>
        <a href='/logout'>LOGOUT</a></nav>
    </header>
    <% end %>
    <div class="main">
    <%= yield %>
    </div>
  </div>
</body>
</html>
